body{
    margin: 0;
    display: grid;
    grid-template-areas: 'header header header header';
    grid-template-rows: 65vh;
}

header{
    grid-area: header;
    background-image: url(img/banner.png);
    background-size: cover;
    border-top: 5px #5fcd70 solid;
    display: flex;
    justify-content: space-around;
}

div{
    width: 40%;
    height: 100%;
    background-color: red;
}

.div-mao{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.div-mao img{
    width: 330px;
}