{% extends 'shared/layout.html' %}
{% load staticfiles %}


{% block content %}
    <header>
        <div class="div-textos">
            <h1>Notify<span>.</span></h1>
            <p>A great new free psd theme to showcase</p>
            <p>your new application.</p>
            <section>
                <a href="https://google.com">
                    <img src="{% static 'img/icone-android.png' %}" alt="android">
                </a href="">
                <a href="">
                    <img src="{% static 'img/icone-ios.png' %}" alt="ios">
                </a href="">
                <a href="">
                    <img src="{% static 'img/icone-windows.png' %}" alt="windows phone">
                </a href="">
            </section>
        </div>

        <div class="div-mao">
            <img src="{% static 'img/hand.png' %}" alt="{% static 'mão segurando celular' %}">
        </div>
    </header>
    {% endblock %}
    